header.header
          .container
            a.logo(href="./index.html") 
              +image(`content/logo.png`, 'logo__pic')
            a.basket(href="./basket.html")
              .basket__img
                +icon('basket', 'basket__icon')
              .basket__text Корзина
              .basket__circle 1