include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Liderpoiska | basket
  body
      .maincontent
        include ./sections/header.pug 
        section.basket-product 
          .container
            h1.title Корзина
            ul.basket-product__list 
              
            .total Сумма #[span.total__num] ₽
        section.request
          form.form#form(action="#" method="POST")
            .form-title Пожалуйста, представьтесь
            input.name(type="text" name="name" placeholder="Введите Имя" required)
            input.phone(type="text" name="phone" placeholder="+7(000)000-00-00" required)
            .phone__error.error-none Введен не коректный теленфон
            input.email(type="email" name="email" placeholder="Email" required)
            .email__error.error-none Введен не коректный Email
            input.btn.btn-bgcolor(type="submit" value="оформить заказ" name="btn") 
        include ./sections/footer.pug
        .overlay.overlay-none
          .overlay__blok 
            a(href="#").overlay__close
            .overlay__content
              .overlay__title Спасибо #[span.overlay__name Татьяна], ваш заказ #[span.overlay__number №165796] оформлен.
              .overlay__info В ближайшее время мы свяжемся с вами по телефону #[span.overlay__phone +7 (999) 999 - 99 - 99] для его подтверждения.